# This workflow will reformat all python files with yapf

name: CI-test

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 wheel pytest
      - name: Install solvers
#       run: conda install libpython m2w64-toolchain -c msys2
        run: pip install cplex gurobipy pyscipopt
      - name: Install straindesign
#          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        run: pip install -e .
      - name: Test with pytest
        run: pytest
        
